// This is the about image
.about-img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
}

// This is the right content section

.heading-section h2 {
  font-weight: 700;
  font-size: 3.5rem;
}

li span {
  line-height: 2.5;
}

li span:first-child {
  font-weight: 600;
  color: #000;
  width: 170px;
}
