@use "../custom" as *;
@use "../components/mixins" as *;

.footer_section {
  @include gradient;
  @include media-breakpoint-down(sm) {
    flex-direction: column;
    font-size: 0.8rem;
  }
}

.footer-sm {
  @include media-breakpoint-down(sm) {
    padding-top: 1rem;
    justify-content: center !important;
  }
  a {
    padding: 0 0.5rem;
  }
}
