@use "../custom" as *;
@use "../components/mixins" as *;

.intro-section {
  background-color: $background;
  height: 100%;
  width: 100%;
  padding: 10rem 0 0 0;

  .subheading {
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: $text;
    font-weight: 400;
  }

  h1 {
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
    color: $prime_blue;
    font-size: 3rem;
    font-weight: 700;

    &:hover {
      color: $text;
    }
  }

  h2 {
    font-family: "Roboto Mono", monospace;
    color: $text;
    font-size: 2.5rem;
    font-weight: 400;
  }
}
