@use "../custom" as *;
@use "../components/mixins" as *;

.navbar {
  padding: 0;
}

.brand_icon {
  font-family: "Akronim", cursive !important;
  font-size: 3rem;
}

.menu {
  @include gradient;

  li {
    padding: 0 0.7rem;
  }

  a {
    font-family: "Roboto Mono", monospace;
    color: $prime_blue !important;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;

    &:hover {
      border-bottom: 1px solid $text;
    }
  }
}
