@use "../custom" as *;

.projects-section {
  background-color: $background;

  h2 {
    text-transform: uppercase;
    color: $white;
  }

  p {
    color: $white;
  }
}

.project_container {
  padding: 1rem;
  background-color: $project_box_two;
  border-radius: 5px;
  box-shadow: 0 2px 2px $gray-700;

  .webContent {
    &_icons {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      .wrapper {
        color: $prime_blue;
        font-size: 1.5rem;
        margin: 1rem 0;
        float: right;
        cursor: pointer;
      }

      .live_text {
        position: relative;

        &::after {
          display: inline;
          content: "";
          height: 10px;
          width: 10px;
          border-radius: 50%;
          background-color: red;
          margin-left: 1rem;
          position: absolute;
          left: 2rem;
          top: 0.3rem;
        }
      }
    }

    &_img {
      a {
        text-decoration: none;
      }

      .contentImg {
        width: 100%;
        height: auto;
      }
    }
  }
}
